*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(180deg, #FFFFFF 0%, #F6F7FB 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

img {
  display: block;
  width: 100%;
}

nav {
  padding: 1.5625em 1.25em
}


.nav-container {
  max-width: 540px;
  margin: 0 auto;
}

.nav-container,
.nav--paw-container {
  display: flex;
}

.nav-container {
  justify-content: space-between;
}

.nav--account,
.nav--chat {
  max-width: 35px;
}

.nav--paw {
  max-width: 20px;
}

.nav--paw-container {
  justify-content: center;
  padding: 10px 30px;
  background: linear-gradient(270deg, #FA695A 0%, #F83375 100%);
  border-radius: 30px;
}

.dog-container {
  position: relative;
  max-width: 550px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto
}

.dog__img {
  border-radius: 15px;
}

.like,
.dog__intro,
.dog__info {
  position: absolute;
}

.like {
  max-width: 230px;
  transform: rotate(-30deg);
  left: 1.75em;
  top: 4em;
}

.dog__info {
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  color: #F8F8F8;
  left: .75em;
  top: 21em;
}

.dog__intro {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #B7B7B7;
  left: 1.05em;
  top: 30em;
}





