*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


img {
  display: block;
  width: 100%;
}


nav {
  padding: 1.5625em 1.25em
}


.nav-container {
  max-width: 550px;
  margin: 0 auto;
}

.nav-container,
.nav--paw-container {
  display: flex;
}

.nav-container {
  justify-content: space-between;
}

.nav--account,
.nav--chat {
  max-width: 35px;
}

.nav--paw {
  max-width: 20px;
}

.nav--paw-container {
  justify-content: center;
  padding: 10px 30px;
  background: linear-gradient(270deg, #FA695A 0%, #F83375 100%);
  border-radius: 30px;
}



/* .dog {
  position: relative;
  border-radius: 15px;
  padding: 0 .5em;
  max-width: 550px; 
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}  */

.dog-container {
  position: relative;
  max-width: 550px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto
}

.dog {
  position: absolute;
  border-radius: 15px;
}

.like {
  position: absolute;
  max-width: 230px;
  transform: rotate(-30deg);
  left: 5%;
  top: 4em;
}



